# Jupyter Notebook temporary files
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/

# OS specific hidden files
.DS_Store
.DS_Store?
._*
Thumbs.db

# VS Code settings
.vscode/

# Local virtual environment used to build and test the project
.venv/
